* {
	 box-sizing: border-box;
}
 body {
	 height: 100vh;
	 background: linear-gradient(0.9turn, #feac5e, #c779d0, #4bc0c8) no-repeat fixed;
	 color: white;
	 font-family: "Open Sans";
}
 .container {
	 height: 80%;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: space-around;
}
 .score {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 flex-direction: row;
	 width: 80%;
	 text-align: center;
}
 .score__label {
	 font-size: 2.5rem;
	 font-weight: 700;
}
 .game {
	 position: relative;
	/* 1 */
	 width: 25em;
	 height: 25em;
	 padding: 0;
	 border-radius: 50%;
	 list-style: none;
	/* 2 */
	 box-sizing: content-box;
	/* 3 */
	 margin: 5em auto 0;
	 border: 1px solid white;
}
 .game > * {
	/* 4 */
	 display: block;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 10em;
	 height: 10em;
	 margin: -5em;
}
 .game > :nth-of-type(1) {
	 transform: rotate(80deg) translate(12.5em) rotate(-80deg);
}
 .game > :nth-of-type(2) {
	 transform: rotate(200deg) translate(12.5em) rotate(-200deg);
}
 .game > :nth-of-type(3) {
	 transform: rotate(320deg) translate(12.5em) rotate(-320deg);
}
 .game .circle {
	 display: block;
	 border-radius: 50%;
	 background-color: white;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 transition: all 0.5s linear;
}
 .game .circle img {
	 width: 40%;
	 padding-top: 0.3rem;
}
 .game .circle:hover:not(.verdict) {
	 margin: -4em;
	 height: 8em;
	 width: 8em;
}
 .paper {
	 color: #c779d0;
}
 .rock {
	 color: #4bc0c8;
}
 .scissors {
	 color: #feac5e;
}
 .verdict {
	 overflow: hidden;
	 color: black;
	 font-size: 0.8rem;
	 text-align: center;
}
 